i{
    position: absolute;
    top: 20px;
    left: 20px;
}

.title-img{
    text-align: center;
}

h1{
    text-align: center;
}

table, td{
    border: 1px solid aliceblue;
}

td{
    padding: 1em;
}

table{
    margin: auto;
    width: 70vw;
    margin-top: 3em;
}

.smart{
    display: none;
}

.views{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
}

.section{
    margin: auto;
    text-align: center;
}

.section>h6{
    padding-top: 1rem;
}

img{
    max-width: 90vw;
}

.video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
}

.video-responsive iframe {
    left:5%; 
    top:3em; 
    height:90%;
    width:90%;
    position:absolute;
}

@media screen and (max-width: 812px) {

    .smart{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }

    .smart>div{
        border: 1px solid aliceblue;
        text-align: center;
        padding: 1rem;
    }

    table{
        display: none;
    }

    i{
        margin-bottom: 1em;
    }
}