/* TITRE */

.main-title{
    text-align: center;
}

.main-title>h1{
    letter-spacing: 1rem;
    font-size: 60px;
}

/* QUI JE SUIS */

.pres-content{
    display: flex;
    align-items: center;
    max-width: 50rem;
    margin: auto;
}

/* CE QUE JE FAIS */

.work-line{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-line>div>a>h4{
    margin-top: 1rem;
}

.work-cat{
    text-align: center;
}

/* MON PARCOURS */

.years{
    display: flex;
    justify-content: space-evenly;
}

.test{
    display: flex;
}

.bot-year{
    position: relative;
    top: 100px;
    transition: 0.5s;
}

.test:hover .bot-year{
    top: 0px;
}

.dot{
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    transition: 1s;
    
}

.test:hover .dot{
    height: 50px; 
    width: 50px;
}

.year{
    text-align: center;
}

.year>h4{
    margin-top: 1rem;
}

.year-desc{
    width: 0;
    height: 200px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50px);
    transition: 1s;
}



.test:hover .year-desc{
    visibility: visible;
    width: 100%;
    opacity: 1;
    transform: translateX(0);
}

.top-year{
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.test:hover .line{
    height: 100px;
    transform: translateY(0px);
}

.line{
    width: 2px;
    height: 0px;
    background-color: aliceblue;
    transition-delay: 0.5s;
    transition: 0.5s;
    transform: translateY(100px); 
}

/* CONTACT */

.main-contact{
    padding-bottom: 3em;
}

.line-contact{
    display: flex;
    gap: 1rem;
    margin: auto;
}

.contact-content{
    display: flex;
    justify-content: center;
}

.contact-content>div{
    border: 2px solid aliceblue;
    padding: 2em;
}


@media screen and (max-width: 812px) {

    /* QUI JE SUIS */

    .pres-content{
        flex-direction: column;
        text-align: center;
    }

    .pres-content>div{
        padding-left: 1em;
        padding-right: 1em;
    }

    /* CE QUE JE FAIS */

    .work-line{
        flex-direction: column;
        gap: 3em;
    }

    /* MON PARCOURS */

    .years{
        flex-direction: column;
        margin-left: 15vw;
        margin-top: 5em;
        gap: 3em;
    }

    .test{
        gap: 3em;
    }

    .top-year{
        visibility: hidden;
    }

    .line{
        height: 0px;
        width: 0px;
        transform: translateY(0px);
        transition: none;
        visibility: hidden;
    }

    .bot-year{
        top: 0px;
    }

    .year-desc{
        width: 100%;
        height: fit-content;
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }

    .test:hover .dot{
        height: 30px; 
        width: 30px;
    }

    .test:hover .line{
        height: 2px;
        transform: translateY(0px);
    }

}
