i{
    position: absolute;
    top: 20px;
    left: 20px;
}

h1{
    margin-top: 1em;
    text-align: center;
}

.menu-cat{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 1em;
}

.menu-cat>div{
    width: 20vw;
    height: 70vh;

    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-cat>div:hover h3{
    font-size: 40px;
    transition: 0.5s;
}


#karn{background-image: url(pic-css/bgKarn.png);}
#obso{background-image: url(pic-css/bgObso2.png);}
#o{background-image: url(pic-css/bgo.png);}
#stunball{background-image: url(pic-css/bgStunball.png);}

#ebay-like{background-image: url(pic-css/bgEncheres.png);}
#sortir{background-image: url(pic-css/bgSortir.png);}
#sowrs{background-image: url(pic-css/bgSowrs.png);}
#own{border: 1px solid aliceblue;}


@media screen and (max-width: 812px) {
    .menu-cat{
        flex-direction: column;
    }

    .menu-cat>div{
        height: 15vh;
        width: 100%;
    }

    i{
        margin-bottom: 1em;
    }

    h1{
        margin-top: 3em;
    }
}
