i{
    position: absolute;
    top: 20px;
    left: 20px;
}

h1{
    text-align: center;
}

.menu-cat{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 1em;
}

.menu-cat>div{
    width: 20vw;
    height: 70vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3:hover{
    font-size: 40px;
    transition: 0.5s;
}


#karn{background-image: url(pic-css/bgKarn.png);}
#obso{background-image: url(pic-css/bgObso2.png);}
#o{background-image: url(pic-css/bgo.png);}
#stunball{background-image: url(pic-css/bgStunball.png);}

@media screen and (max-width: 812px) {
    .menu-cat{
        flex-direction: column;
    }

    .menu-cat>div{
        height: 15vh;
        width: 100%;
    }
}
